<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin </title>
    <div th:replace="script.html"></div>
</head>
<body onload="load()">
<!--Header Section-->
<div class="row">
    <div th:replace="header.html"></div>
    <div th:replace="sidebar.html"></div>
    <div class="row col-10">
        <div  id="product-quantity-stock" th:data-product-quantity-stock-list="${productQuantityStockList}"></div>
        <div  id="product-name-stock" th:data-product-name-stock-list="${productNameStockList}"></div>
        <div class="d-flex  h-25 col-12" >
            <div class="card w-25 h-75 d-inline-block m-3 p-3 shadow text-center">
                <h2 id='orders' class="fs-2 text-dark">0</h2>
                <h4 class="text-dark">Orders</h4>
            </div>
            <div class="card w-25 h-75 d-inline-block m-3 p-3 shadow text-center">
                <h2 id='products' class="fs-2 text-dark">0</h2>
                <h4 class="text-dark">Products</h4>
            </div>
            <div class="card w-25 h-75 d-inline-block m-3 p-3 shadow text-center">
                <h2 id='customers' class="fs-2 text-dark">0</h2>
                <h4 class="text-dark">Customers</h4>
            </div>
            <div class="card w-25 h-75 d-inline-block m-3 p-3 shadow text-center">
                <h2 id='revenue' class="fs-2 text-dark">0</h2>
                <h4 class="text-dark">Revenue</h4>
            </div>

        </div>
        <div class="d-flex  col-12 m-1">
            <div class="w-25 m-2 p-3 shadow" >
                <div id="product-chart"></div>
            </div>
            <div class="w-75 m-2 p-3 shadow" >
                <div id="product-order-chart"></div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
var productQuantityStock=JSON.parse($('#product-quantity-stock').attr('data-product-quantity-stock-list'));
var productNameStock=$('#product-name-stock').attr('data-product-name-stock-list').slice(1, -1).split(",");
var options = {
  dataLabels: {
    enabled: true,
    formatter: function (val) {
      return val + "%"
    },
    dropShadow: {
      enabled: true,
      color: '#000',
      top: 18,
      left: 7,
      blur: 10,
      opacity: 0.2
    }
  },
  plotOptions: {
     pie: {
    startAngle: 0,
    endAngle: 360,
    expandOnClick: true,
    offsetX: -10,
    offsetY: 40,
    customScale: 1,
    dataLabels: {
        offset: 0,
        minAngleToShowLabel: 10
    },
    donut: {
      size: '40%',
      background: 'transparent',
      labels: {
        show: true,
        name: {
          show: true,
          fontSize: '14px',
          fontFamily: 'Helvetica, Arial, sans-serif',
          fontWeight: 300,
          color: undefined,
          offsetY: -10,
          formatter: function (val) {
            return val
          }
        },
        value: {
          show: true,
          fontSize: '16px',
          fontFamily: 'Helvetica, Arial, sans-serif',
          fontWeight: 400,
          color: undefined,
          offsetY: 16,
          formatter: function (val) {
            return val
          }
        },
        total: {
          show: true,
          showAlways: false,
          label: 'Total',
          fontSize: '18px',
          fontFamily: 'Helvetica, Arial, sans-serif',
          fontWeight: 600,
          color: '#373d3f',
          formatter: function (w) {
            return w.globals.seriesTotals.reduce((a, b) => {
              return a + b
            }, 0)
          }
        }
      }
    },
  }
  },
  chart: {
    offsetX: 0,
    width: 250,
    height:250,
    type: "donut"
  },
  dataLabels: {
    enabled: true
  },
   legend: {
       position: 'top',
       verticalAlign: 'left',
       floating: true,
       offsetY: -5,
       offsetX: -30
     },
   title: {
          text: 'Products Stock Availability',
          align: 'center',
          offsetY: 0
        },
  series: productQuantityStock,
  labels: productNameStock
};
var chart = new ApexCharts(document.querySelector("#product-chart"), options);
chart.render();

var options = {
     series: [
     {
       name: "Pizza",
       data: [78, 29, 13, 56, 62, 62, 33]
     },
     {
       name: "Burger",
       data: [62, 11, 34, 58, 37, 23, 13]
     },
     {
       name: "Veg Role",
       data: [28, 20, 31, 46, 12, 42, 43]
     },
     {
       name: "Salad",
       data: [42, 21, 34, 68, 37, 43, 13]
     }
        ],
     chart: {
       height: 350,
       type: 'line',
       dropShadow: {
         enabled: true,
         color: '#000',
         top: 18,
         left: 7,
         blur: 10,
         opacity: 0.2
       },
       toolbar: {
         show: false
       }
     },
     colors: ['#77B6EA', '#545454','#6610f2','#ffc107'],
     dataLabels: {
        enabled: true,
     },
     stroke: {
       curve: 'smooth'
     },
     title: {
       text: 'Weekly Most Sales Chart',
       align: 'left'
     },
     grid: {
       borderColor: '#e7e7e7',
       row: {
         colors: ['#f3f3f3', 'transparent'],
         opacity: 0.5
       },
     },
     markers: {
       size: 1
     },
     xaxis: {
       categories: ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'],
       title: {
         text: 'Week'
       }
     },
     yaxis: {
       title: {
         text: 'Products'
       },
       min: 5,
       max: 80
     },
     legend: {
       position: 'top',
       verticalAlign: 'right',
       floating: true,
       offsetY: -20,
       offsetX: -5
     }
     };
var chart = new ApexCharts(document.querySelector("#product-order-chart"), options);
chart.render();

function animate(obj, initVal, lastVal, duration) {

        let startTime = null;

        //get the current timestamp and assign it to the currentTime variable

        let currentTime = Date.now();

        //pass the current timestamp to the step function

        const step = (currentTime ) => {

        //if the start time is null, assign the current time to startTime

          if (!startTime) {
          startTime = currentTime ;
          }

        //calculate the value to be used in calculating the number to be displayed

            const progress = Math.min((currentTime  - startTime) / duration, 1);

        //calculate what to be displayed using the value gotten above

            obj.innerHTML = Math.floor(progress * (lastVal - initVal) + initVal);

        //checking to make sure the counter does not exceed the last value(lastVal)

            if (progress < 1) {
                window.requestAnimationFrame(step);
            }
        };

        //start animating
        window.requestAnimationFrame(step);
    }
let text1 = document.getElementById('orders');
let text2 = document.getElementById('products');
let text3 = document.getElementById('customers');
let text4 = document.getElementById('revenue');
const load = () =>{

    animate(text1, 0, [[${orderCount}]], 1000);
    animate(text2, 0, [[${productCount}]], 1000);
    animate(text3, 0, [[${userCount}]], 1000);
    animate(text4, 0, [[${totalRevenue}]], 1000);
}
</script>
</html>