<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>❗Error❗</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">
</head>
<style>
    #error{
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
}

#error:hover{
    -webkit-box-shadow: 0px 0px 19px 15px rgba(235,136,30,1);
    -moz-box-shadow: 0px 0px 19px 15px rgba(235,136,30,1);
    box-shadow: 0px 0px 19px 15px rgba(235,136,30,1);
}
</style>
<body style="font-family: 'Raleway', sans-serif;">
    <h1 style="text-align: center;"> Something went wrong! ⚡❗❗❗</h1>
    <h2  style="text-align: center;">Our Engineers are on it👨‍🔬</h2>
    <center>
        <h1 style="color: white;">Hello</h1>
        <h1 style="color: white;">Hello</h1>
        <h1 style="color: white;">Hello</h1>

            <img src="https://cdn.dribbble.com/users/10958/screenshots/5716771/media/45012d69bfc48c6a37564b20ff1caba8.gif" id="error" alt="">


    </center>
</body>
</html>