<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <div th:replace="script.html"></div>
<body>
<div th:replace="header.html"></div>

<!--Notification home page starts-->
        <div th:if="${notificationCount} > 0" class="card shadow m-5 p-5">
            <h2 class="text-center">My Notifications</h2>
            <div class="card notification-card notification-reminder">
                <div class="card-body">
                    <table>
                        <th:block th:each="notification:${notifications}">
                        <tr>
                            <td style="width:70%"><div class="card-title"><b style="color:blue">[[${notification.notificationHeading}]]</b></div>
                                <div class="small">[[${notification.notificationSubHeading}]]</div>
                            </td>
                        </tr>
                    </th:block>
                    </table>
                </div>
            </div>
        </div>
<div th:if="${notificationCount} <= 0" class="card shadow m-5 p-5">
    <h2 class="text-center">My Notifications</h2>
    <div class="card notification-card notification-reminder">
        <div class="card-body">
            <h3 class="text-center"><strong>NO NOTIFICATIONS</strong></h3>
            <h4 class="text-center">We will notify you once we have something for you</h4>
        </div>
</div>
</div>
</body>
</html>
