
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Order </title>
    <div th:replace="script.html"></div>

</head>
<body >
<!--Header Section-->
<div th:replace="header.html"></div>
<div class="row col-12">
    <div th:replace="sidebar.html"></div>
    <div class="col-9 m-2">
        <table class="table-striped   shadow m-3 p-3" >
            <thead>
            <th>OrderId</th>
            <th>ProductIds</th>
            <th>Quantities</th>
            <th>Prices</th>
            <th>Total</th>
            <th>Grand Total</th>
            <th>Action</th>
            </thead>
            <tbody>
            <th:block th:each="order:${orders}">
                <tr>
                    <td>[[${order.orderId}]]</td>
                    <td>[[${order.productIds}]]</td>
                    <td>[[${order.quantities}]]</td>
                    <td>[[${order.prices}]]</td>
                    <td>[[${order.totals}]]</td>
                    <td>[[${order.grandTotal}]]</td>
                    <td>
                        <button type="button" th:data-order="(${order.orderId})" id="view-order"  class="btn btn-light"><i class="fa fa-eye"></i> </button>
                    </td>
                </tr>

            </th:block>
            </tbody>
        </table>
    </div>
</div>
</div>

</body>
<script>

</script>
</html>