
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Order </title>
    <div th:replace="script.html"></div>

</head>
<body >
<!--Header Section-->
<div th:replace="header.html"></div>
<div class="row col-12">
    <div th:replace="sidebar.html"></div>
    <div class="col-9 m-2">
        <table class="table-striped   shadow m-3 p-3" >
            <thead>
            <th>OrderId</th>
            <th>ProductNames</th>
            <th>UserId</th>
            <th>ShippingAddress</th>
            <th>Country</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Grand Total</th>
            <th>Order Date</th>
            <th>Action</th>
            </thead>
            <tbody>
            <th:block th:each="order:${orders}">
                <tr>
                    <td >[[${order.orderId}]]</td>
                    <td>[[${order.productNames}]]</td>
                    <td>[[${order.userId}]]</td>
                    <td>[[${order.shippingAddress}]]</td>
                    <td>[[${order.country}]]</td>
                    <td>[[${order.state}]]</td>
                    <td>[[${order.zip}]]</td>
                    <td>[[${order.grandTotal}]]</td>
                    <td>[[${order.orderDate}]]</td>
                    <td>
                        <button type="button"    th:data-order="(${order.orderId})" id="view-order"  class="btn btn-light" ><i class="fa fa-eye "  ></i> </button>
                    </td>
                </tr>

            </th:block>
            </tbody>
        </table>
    </div>
</div>
</div>

</body>
<script>
$(document).ready(function(){
  $("#view-order").click(function(){
    $("td").show();
    });
});

</script>
</html>