<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <div th:replace="script.html"></div>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">

</head>
<style>
 table{
  width:100%;
}
th{
  background-color: #dc3545;
  color: white;
}
th, td {
  padding: 12px;
  text-align: left;
  border-radius:5px;
  border-color:  #2f2f2f;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover{
  color: green;
  cursor:pointer;
}
</style>
<body style="background-color: rgb(253, 251, 251); font-family: 'Raleway', sans-serif;  ">
<!--Header Section starts-->
<div th:replace="header.html"></div>
<!--Header Section ends-->
<div class="row col-12">
    <!--Side-bar Section starts-->
    <div th:replace="sidebar.html"></div>
    <!--Side-bar Section ends-->
    <div class="col-9 m-2">
        <button type="button" data-bs-toggle="modal" data-bs-target="#productRegisterModal" class="btn btn-primary float-end mb-2"><i class="fa fa-plus"></i> Add product</button>
        <table class="table-striped   shadow m-3 p-3" >
            <thead>
            <th>Id</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
            </thead>
            <tbody>
            <th:block th:each="product:${products}">
                <tr>
                    <td th:text="${counter.incrementAndGet()}"></td>
                    <td scope="row">
                        <img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}"   style="width: 100px;height: 100px;" ></td>
                    <td>[[${product.productName}]]</td>
                    <td>[[${product.productCategory}]]</td>
                    <td>[[${product.productPrice}]]</td>
                    <td>[[${product.quantity}]]</td>
                    <td>
                        <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"   id="status" checked="(${product.status})"   required autofocus="autofocus" />
                    </div>
                    </td>
                    <td>
                        <button type="button" th:data-product="(${product.id})" id="edit-product"  class="btn btn-primary"><i class="fa fa-edit"></i> </button>
                        <button type="button" th:data-product="(${product.id})" id="delete-product"   class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="Deleteproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h6> Sure you want to delete the product</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" id="delete-product-button" data-product="" class="btn btn-danger">Delete</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="UpdateProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel_U"> Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container card col-12  p-3">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">

                            <form th:action="@{/admin/product/updateProduct}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="productId" id="productId" class="form-control"
                                       required autofocus="autofocus" />

                                <div class="form-group">
                                    <label class="control-label" for="productName"> Product Name </label> <input
                                        id="productName" name="productName" class="form-control"
                                        required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="productCategory"> Product Category</label> <input
                                        id="productCategory" name="productCategory" class="form-control" type="text"
                                        required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="productPrice"> Product Price </label> <input
                                        id="productPrice" name="productPrice" class="form-control"  required
                                        autofocus="autofocus" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="quantity"> Quantity </label> <input
                                        id="quantity" name="quantity" class="form-control"  required
                                        autofocus="autofocus" />
                                </div>

                                <div class="form-check form-switch">
                                    <label class="control-label" for="status"> Status </label>
                                    <input class="form-check-input" type="checkbox" role="switch"   id="status"   autofocus="autofocus" />
                                </div><br>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-success text-center"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="productRegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container card col-12  p-3">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <h5>Product</h5>
                            <form  th:action="@{/admin/product/addProduct}"  method="post"  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="control-label" for="productName"> Product Name </label>
                                    <input id="productName" class="form-control" type="text" name="productName"
                                           required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="productCategory"> Product Category </label> <input
                                        id="productCategory" class="form-control"  type="text" name="productCategory"
                                        required autofocus="autofocus" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="productPrice"> Product Price</label> <input
                                        id="productPrice" class="form-control" type="text" name="productPrice"
                                        required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="quantity"> Quantity </label> <input
                                        id="quantity" name="quantity" class="form-control"  required
                                        autofocus="autofocus" />
                                </div>

                                <div class="form-check form-switch">
                                    <label class="control-label" for="status"> Status </label>
                                    <input class="form-check-input" type="checkbox" role="switch"   id="status" name="status"     autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                <label class="control-label" for="customFile">Product Image</label>
                                <input type="file" name="file" class="form-control" id="customFile" autofocus="autofocus"/>
                                </div><br>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success text-center">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
<!--This function is used to find product-->
$(document).on('click','#edit-product' ,function(){

 var productId=$(this).attr('data-product');
  $.ajax({
    url: "\editProduct",
    type:"POST",
    data:{"productId":productId},
    success: function(result){
      if(result!=""){
        $('#productId').val(result.id);
        $('#productName').val(result.productName);
        $('#productCategory').val(result.productCategory);
        $('#productPrice').val(result.productPrice);
        $('#quantity').val(result.quantity);
        if(result.status==true){
        $('#status').attr('th:checked="${result.status}"');
        }
     }
     else if(result==""){
        $('#productName').val('');
        $('#productCategory').val('');
        $('#productPrice').val('');
        $('#quantity').val('');
        $('#status').prop('checked',false);
     }
    }
  });
$('#UpdateProduct').modal('show');
});
<!--This function is used to delete product-->
$(document).on('click','#delete-product' ,function(){
 var productId=$(this).attr('data-product');
  $('#delete-product-button').attr('data-product',productId);
  $('#Deleteproduct').modal('show');
});
$(document).on('click','#delete-product-button' ,function(){
 var productId=$(this).attr('data-product');
  $.ajax({
    url: "deleteProduct",
    type:"POST",
    data:{"productId":productId},
    success: function(result){
    $('#Deleteproduct').modal('hide');
    location.reload();
    }
  });
});
</script>
</html>